body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: black;
    color: white;
  }
  
  form {
    background-color: transparent;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  label {
    color: white;
  }
  
  button {
    background-color: #007bff; /* Cor azul para o botão */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3; /* Cor azul mais escura no hover */
  }
  